<!-- Header Start -->
<header class="header">
    <nav class="navbar">
        <div class="container">
            <div class="nav-wrapper">
                <!-- Logo -->
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/img/logo.png" alt="Plastoproof" class="logo-img">
                        <!-- <span class="logo-text">Plastoproof</span> -->
                    </a>
                </div>

                <!-- Mobile Menu Toggle -->
                <button class="nav-toggle" id="navToggle" aria-label="Toggle navigation">
                    <span class="hamburger"></span>
                </button>

                <!-- Navigation Menu -->
                <div class="nav-menu" id="navMenu">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">About Us</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#products.html" class="nav-link">
                                Our Products
                                <i class="fas fa-chevron-down dropdown-icon"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="Maintain-plast.html">Maintenance Plast</a></li>
                                <li><a href="Type-A.html">Plaster Type A</a></li>
                                <li><a href="Type-B.html">Plaster Type B</a></li>
                                <li class="has-submenu">
                                    <a href="javascript:void(0);" class="submenu-toggle" aria-expanded="false">Tileofix plast <i class="fas fa-chevron-right submenu-icon"></i></a>
                                    <ul class="submenu">
                                        <li><a href="Tileofix-floor.html">Floor tile</a></li>
                                        <li><a href="Tileofix-wall.html">Wall tile</a></li>
                                    </ul>
                                </li>
                                <li><a href="wall-care-putty.html">Wall care putty</a></li>
                                <li><a href="Block-bond.html">Block bond</a></li>
                            </ul>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="#technology.html" class="nav-link">Technology</a>
                        </li> -->
                        <li class="nav-item">
                            <a href="awards.html" class="nav-link">Awards</a>
                        </li>
                        <li class="nav-item">
                            <a href="acknowledgement.html" class="nav-link">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a href="gallery.html" class="nav-link">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a href="faq.html" class="nav-link">FAQ's</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a href="blog.html" class="nav-link">Blogs</a>
                        </li> -->
                    </ul>
                    
                    <!-- CTA Button -->
                    <div class="nav-cta">
                        <a href="contact.html" class="btn btn-primary">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Header End -->